@model IEnumerable<ZenithDataLib.Models.Event>

@{
    ViewBag.Title = "Home Page";
    HashSet<DayOfWeek> activeDays = new HashSet<DayOfWeek>();
}

<div class="jumbotron">
    <h2>Zenith Society</h2>
</div>

<table class="table">
    <tr>
        <th colspan="2">
            Events of the week
        </th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.IsActive)
        {
            activeDays.Add(item.DateFrom.DayOfWeek);
        }
    }

    @foreach (var day in activeDays)
    {
        ViewBag.daySwitch = true;

        foreach (var item in Model)
        {
            ViewBag.DateFrom = item.DateFrom.ToShortTimeString();
            ViewBag.DateTo = item.DateTo.ToShortTimeString();
            ViewBag.LongDate = item.DateFrom.ToLongDateString();

            if (day == item.DateFrom.DayOfWeek && item.IsActive)
            {
                if (ViewBag.daySwitch)
                {
                    <tr class="weekday">
                        <td colspan="2">
                            @ViewBag.LongDate
                        </td>
                    </tr>

                    ViewBag.daySwitch = false;
                }

                <tr>
                    <td width="30%">
                        @ViewBag.DateFrom - @ViewBag.DateTo
                    </td>
                    <td width="70%">
                        @Html.DisplayFor(modelItem => item.Activity.ActivityDescription)
                    </td>
                </tr>
            }
        }
    }

</table>